.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #82b532 !important;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background: #297b33 !important;
  opacity: 1;
}